@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.article-font {
  font-family: 'Roboto', sans-serif;
}

.secondary-font {
  font-family: 'Duru Sans', sans-serif;
}

.article-text-body {
  font-size: 1.2rem;
  line-height: 1.5;
}

.button-action {
  background-color: blue;
  color: white;
  padding: 5px;
  border: 2px solid darkblue;
  border-radius: 5px;
  box-shadow: 6px 6px 1px 1px rgba(0, 0, 255, 0.2);
}

.article-card {
  background-color: #77889977;
}

.title-banner {
  display: flex;
  justify-content: space-between;
}
